:root {
    /* primary */

    --p50: #ebebfe;
    --p75: #acacfa;
    --p100: #8989f8;
    --p200: #5757f5;
    --p300: #3434f3;
    --p400: #2424aa;
    --p500: #202094;

    /* secondary */

    --s50: #fae6fa;
    --s75: #ea99ea;
    --s100: #e16fe1;
    --s200: #d530d5;
    --s300: #cc06cc;
    --s400: #8f048f;
    --s500: #7c047c;

    /* success */

    --g50: #edffed;
    --g75: #b4ffb4;
    --g100: #94ff94;
    --g200: #66ff66;
    --g300: #47ff47;
    --g400: #32b332;
    --g500: #2b9c2b;

    /* warning */

    --w50: #fff7e8;
    --w75: #fddda0;
    --w100: #fdce79;
    --w200: #fcb93f;
    --w300: #fbab18;
    --w400: #b07811;
    --w500: #99680f;

    /* error */

    --e50: #ffeaea;
    --e75: #ffa7a7;
    --e100: #ff8282;
    --e200: #ff4d4d;
    --e300: #ff2828;
    --e400: #b31c1c;
    --e500: #9c1818;

    /* neutral */

    --n0: #ffffff;
    --n10: #fafbfb;
    --n20: #f5f6f7;
    --n30: #ebedf0;
    --n40: #dfe2e6;
    --n50: #c2c7d0;
    --n60: #b3b9c4;
    --n70: #a6aebb;
    --n80: #98a1b0;
    --n90: #8999a4;
    --n100: #7a8699;
    --n200: #6b788e;
    --n300: #5d6b82;
    --n400: #505f79;
    --n500: #42526d;
    --n600: #354764;
    --n700: #243757;
    --n800: #15294b;
    --n900: #091e42;
}